@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="mt-5 pt-5 ml-5 magin">
        <div class="container marginslide">
          <div class="row d-flex justify-content-center containerslider">
            <div class="col-lg-4 col-md-6 align-self-center mb-md-0 mb-4 pt-3 textslider">
              <h1>Conheça a InterWorld</h1>
              <h4 class="mb-4 mt-3">Descubra um pouco mais <br /> sobre a nossa organização!</h4>
            <div class="divbuttons">
              <a
                 path=""
                class="button btn btn-primary button-primary text-white w-75 d-md-inline-block d-block mb-md-0 mb-2 mr-md-2 disabled  buttons button1" style="background-Color:#b23cfd"
              >#SejaInterWorld</a>
              </div>
            </div>
            <div class="col-lg-8 col-md-4 text-center divimg">
              <img src="~/img/about/slider.png" class="img-fluid img" style="width:60%"/>
            </div>
          </div>
          </div>
      </section>
      <section class=" pt-4">
          <h2 class=" storyh2  mt-5  text-center text-uppercase font-weight-bold">Sobre Nós</h2>
          <div class=" storyp2 p-2 mt-3">
          <p class="mt-2 d-flex storytext text-center">Fundamos a Interworld em 2010 com o objetivo de oferecer não apenas intercâmbios, e sim projetos de vida. O projeto da Interworld começou pequeno, com apenas 5 integrantes e hoje contamos com mais de 100 profissionais para atender todas as necessidades de nossos alunos, com total dedição e comprometimento. Nossa meta é transformar o intercâmbio em uma experiência única na vida do intercambista e uma grande oportunidade profissional.</p>
            </div>
      </section>
     <section>

  <div class="mt-5 row text-center cardmargin">
    <div class="col-md-4 mb-5 mb-md-0 shadow-sm p-3 mb-5 bg-white rounded p-2 ">
      <div class="d-flex justify-content-center mb-4">
        <img src="~/img/about/mission.png"
          class="rounded-circle shadow-1-strong" width="90" height="90" />
      </div>
      <h5 class="mb-3">Missão</h5>
      <p class="px-xl-3">
        <p class="pe-2">Viabilizar intercâmbios culturais e viagens turísticas e de negócios adequados ao perfil de cada cliente, comprometendo-se com a qualidade de atendimento, inclusive durante a vivência internacional.
      </p>
    </div>
    <div class="col-md-4 mb-5 mb-md-0 shadow-sm p-3 mb-5 bg-white rounded p-2">
      <div class="d-flex justify-content-center mb-4 ">
        <img src="~/img/about/vision.png"
          class="rounded-circle shadow-1-strong" width="90" height="90" />
      </div>
      <h5 class="mb-3">Valores</h5>
      <p class="px-xl-3">
        <p class="pe-2">Ser considerada a melhor empresa de intercâmbio cultural e turismo do Brasil e do mundo!</p>
      </p>
    </div>
    <div class="col-md-4 mb-0 shadow-sm p-3 bg-white rounded p-2">
      <div class="d-flex justify-content-center mb-4">
        <img src="~/img/about/values.png" 
          class="rounded-circle shadow-1-strong" width="90" height="90" />
      </div>
      <h5 class="mb-3">Visão</h5>
      <p class="px-xl-3">
        <p class="pe-2">Qualidade, seriedade, excelência, competência, ética, credibilidade e inovação. </p>
    </div>
  </div>
</section>
  
  @section CSS{
     <link rel="stylesheet" href="~/css/About.css" asp-append-version="true" />
}
<style>
    .margin{
        margin-left:50%;
    }
</style>
       

      

  
