@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <section class="pl-n-5">
        <div class="container">
          <div class="row d-flex containerslider">
            <div
              class="col-lg-4 col-md-6 align-self-center mb-md-0 mb-4 textslider"
            >
              <h1>
                teste <br /> test
              </h1>
              <h4 class="mb-4 mt-3 text-xs-center">
                blablabla <br /> blablabla
              </h4>
              <div class="divbuttons">
                <a
                    href=""
                  class= "button btn btn-primary button-primary d-md-inline-block d-block mb-md-0 mb-2 mr-md-2buttons button1"
                >
                 
                  {dictionary?.button1}
                </a>
                <a
                href="#"
                class="button btn btn-outline-primary button-primary-outline d-md-inline-block d-blockbuttons buttoncontact">
                   {dictionary?.button2}</a> 
              </div>
            </div>
            <div class="col-lg-8 col-md-4 text-centerdivimg">
              <img src="" class= "img-fluidimg" />
            </div>
          </div>
        </div>
        </section>


@section CSS{
     <link rel="stylesheet" href="~/css/Destinations.css" asp-append-version="true" />
}
