@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if(TempData["erro"] != null)
{
    <div class=" alert alert-danger">@TempData["erro"]</div>
}
<!-- Pills navs -->
<div class="row mt-5">


    <div class="col-6 mx-auto mt-5">
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active buttoncolor" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
      aria-controls="pills-login" aria-selected="true">Login</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="tab-register buttoncolor" data-mdb-toggle="pill" href="#pills-register" role="tab"
      aria-controls="pills-register" aria-selected="false">Register</a>
  </li>
</ul>
<!-- Pills navs -->

<!-- Pills content -->
<div class="tab-content justify-content-center">
  <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
    <form action="/Login/Login" method="post">

        <p class="text-center"> Faça Login:</p>
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="text" id="loginName" class="form-control" name="Login" />
        <label class="form-label" for="loginName">Email ou nome de usuário</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="loginPassword" class="form-control" name="Senha"/>
        <label class="form-label" for="loginPassword">Senha</label>
      </div>

      <!-- 2 column grid layout -->
      <div class="row mb-4">
        <div class="col-md-6 d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check mb-3 mb-md-0">
            <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
            <label class="form-check-label" for="loginCheck"> Lembrar-me </label>
          </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
          <!-- Simple link -->
          <a href="#!">Esqueceu a senha?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4 buttoncolor">Fazer Login</button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Não possui conta?<a href="#!">Cadastre-se</a></p>
      </div>
    </form>
  </div>
  <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
    <form action="/Login" method="post">

      <p class="text-center">Cadastre-se:</p>

      <!-- Name input -->
      <div class="form-outline mb-4">
        <input type="text" id="registerName" class="form-control" name="Nome"/>
        <label class="form-label" for="registerName">Nome</label>
      </div>

      <!-- Username input -->
      <div class="form-outline mb-4">
        <input type="text" name="Login" id="registerUsername" class="form-control" />
        <label class="form-label" for="registerUsername">Nome de usuário</label>
      </div>

      <!-- Email input -->
    

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="registerPassword" name="Senha" class="form-control" />
        <label class="form-label" for="registerPassword">Senha</label>
      </div>

      <!-- Repeat Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="registerRepeatPassword" class="form-control" />
        <label class="form-label" for="registerRepeatPassword">Repita a senha</label>
      </div>

      <!-- Checkbox -->
      <div class="form-check d-flex justify-content-center mb-4">
        <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
          aria-describedby="registerCheckHelpText" />
        <label class="form-check-label" for="registerCheck">
          Eu concordo com os termos 
        </label>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-5 buttoncolor">Fazer cadastro</button>
    </form>
  </div>
</div>
</div>
</div>
<!-- Pills content -->
<style>
    .buttoncolor:active{
        background-color:#b23cfd;
    }
      .buttoncolor{
        background-color:#b23cfd;
    }
       .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
        background-color:#b23cfd;
    }
    .buttoncolor:hover{
       background-color: #9737d3;

    }
</style>